/* * button validation css : start */

.button-disabled {
    pointer-events: none !important;
    color: #fff;
    background-color: gray !important;
}

.input-valid {
    color: rgb(64, 163, 64) !important;
    border: 1px solid rgb(64, 163, 64) !important;
}

.input-valid option {
    color: #666 !important;
}

/* ! button validation css : end */

/* * filter modal : start */

#filter-modal-overlay {
    /* default - modified using JS - changes to 'flex' */
    display: none;

    /* self */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

#filter-modal-wrapper {
    /* self */
    display: flex;
    position: absolute;
    width: 100%;

    /* children */
    justify-content: center;
}

#filter-modal {
    /* default - modified using JS - changes to 'flex' */
    display: none;
    /* self */
    background-color: white;
    border-radius: 10px;
    position: fixed;
    top: 100px;
    z-index: 1000;
    width: 500px;
    height: 500px;

    /* children */
    padding: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    #filter-modal {
        /* self - modified */
        width: 300px;
    }
}

#filter-modal * {
    /* self */
    width: 300px;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    #filter-modal * {
        /* self - modified */
        width: 200px;
    }
}

#filter-modal select {
    margin-bottom: 15px;
}

#filter-modal .icon {
    position: absolute;
    padding: 3px;
    top: 17px;
    left: 20px;
    cursor: pointer;
}
#filter-modal .icon:hover {
    color: black;
}

/* ! filter modal : end */

/* ? ganvadeba button width edit : start */
.product-page-bank-btn-wrapper button img,
.cart-page-btn-wrapper button img {
    width: 300px;
}
/* ! ganvadeba button width edit : start */

/* product-page bank buttons : START */

.product-page-ganvadeba-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.product-page-bank-btn-wrapper {
    display: flex;
    align-items: center;
    width: min-content;
    flex-direction: column;
}

.bank-btn {
    width: 200px;
    border-radius: 30px;
    box-shadow: 0 0 4px rgb(216, 216, 216);
}

.bank-btn:hover {
    box-shadow: 0 0 4px rgb(128, 128, 128);
}

@media only screen and (max-width: 767px) {
    .product-page-ganvadeba-wrapper {
        width: 80%;
    }

    .product-page-bank-btn-wrapper {
        /* display: flex;
      justify-content: center;
      align-items: center; */
        margin-left: 0;
        flex-direction: column;
    }

    .bank-btn {
        width: 100%;
        /* border-radius: 30px;
      box-shadow: 0 0 4px rgb(216, 216, 216); */
    }

    .bank-btn:hover {
        width: 100%;
        /* border-radius: 30px;
      box-shadow: 0 0 4px rgb(128, 128, 128); */
    }
}

.cart-page-btn-wrapper img {
    width: 100%;
    background-color: white;
}

/* product-page bank buttons : END */
